<section class="c-actual">
  <div class="c-actual__top">
    <div class="c-logo">
      <img src="./assets/img/section-logo.png" alt="実績紹介" >
    </div>
    <h2 class="c-actual__heading">実績紹介</h2>
    <p class="c-actual__subheading">
      『地域の人たちが安全に安心して暮らせるように、<br class="is-pc">
      <span class="c-actual__subheadingline2">そして豊かに快適に暮らせるように』、そんな想いを込めて仕事をしています。</span>
    </p>
    <div class="c-actual__items l-container">
        <% if (typeof actual != 'undefined') { %>
            <% actual.items && actual.items.forEach(item => { %>
                <a class="<%= item.class %> c-actual__item">
                    <div class="c-actual__itembg">
                      <picture>
                        <source media="(max-width: 767px )" srcset="<%= item.imgSp %>">
                        <img src="<%= item.img %>" alt="<%= item.title %>">
                      </picture>
                        <p class="<%= item.labelClass %> c-actual__itemdes"><%=item.des%></p>
                    </div>
                      <h3 class="c-actual__title"><%=item.title%></h3>
                  </a>
            <% }) %>
        <% } %>
     
    </div>
    <div class="is-sparrow c-actual__slide">
      <div class="c-actual__arrowleft">
          <img src="./assets/img/arrow-left.png" alt="実績紹介">
      </div>
      <div  class="c-actual__arrowright">
        <img src="./assets/img/arrow-right.png" alt="実績紹介">
    </div>
  </div>
  </div>
  <a class="c-actual__detail" href="#">実績紹介一覧 ></a>
  <div class="c-actual__banner">
    <div class="c-actual__banneritems">
        <a class="c-actual__banneritem">
          <picture>
            <source media="(max-width: 767px )" srcset="./assets/img/actual-banner-1-sp.jpg">
            <img src="./assets/img/actual-banner-1.jpg" alt="会社案内">
          </picture>
            <div class="c-actual__bannertext">
                <p class="c-actual__bannertitle">会社案内</p>
                <p class="c-actual__bannercontent">これまでの防災技術と新分野のICTなどを拡充し、<br class="is-pc">
                地元地域に密着した総合建設コンサルタントを目指します。</p>
                <span class="c-actual__bannericon">></span>
            </div>
          </a>
        <a class="c-actual__banneritem">
          <picture>
            <source media="(max-width: 767px )" srcset="./assets/img/actual-banner-2-sp.jpg">
            <img src="./assets/img/actual-banner-2.jpg" alt="採用情報">
          </picture>
            <div class="c-actual__bannertext c-actual__bannertext2">
              <p class="c-actual__bannertitle">採用情報</p>
              <p class="c-actual__bannercontent2">私たちと共に専門知識や技術を高めながら<br class="is-pc">地域の未来を守る人材を募集しています。 
               </p>
              <span class="c-actual__bannericon"> ></span>
          </div>
        </a>
    </div>
  </div>
</section>
