<section class="c-actual">
  <div class="c-container c-actual__top">
    <div class="c-logo">
      <img src="./assets/img/section-logo.png" alt="実績紹介" >
    </div>
    <h2 class="c-actual__heading">実績紹介</h2>
    <p class="c-actual__subheading">
      『地域の人たちが安全に安心して暮らせるように、<br >
      <span class="c-actual__subheadingline2">そして豊かに快適に暮らせるように』、そんな想いを込めて仕事をしています。</span>
    </p>
    <div class="c-actual__items">
        <% if (typeof actual != 'undefined') { %>
            <% actual.items && actual.items.forEach(item => { %>
                <a class="<%= item.class %> c-actual__item">
                    <div class="c-actual__itembg">
                        <img src="<%= item.img %>" alt="<%= item.title %>">
                        <p class="<%= item.labelClass %> c-actual__itemdes"><%=item.des%></p>
                    </div>
                    <div class="c-actual__title">
                        <p><%=item.title%></p>
                    </div>
                  </a>
            <% }) %>
        <% } %>
     
    </div>
    <div class="sp-only c-actual__arrows">
      <div class="c-actual__arrowleft">
          <img src="./assets/img/arrow-left.png" alt="">
      </div>
      <div  class="c-actual__arrowright">
        <img src="./assets/img/arrow-right.png" alt="">
    </div>
  </div>
  </div>
  <div class="c-actual__detail">
    <a>実績紹介一覧 ></a>
  </div>
  <div class="c-actual__banner">
    <div class="c-actual__banneritems">
        <div class="c-actual__banneritem">
            <img src="./assets/img/actual-banner-1.jpg" alt="">
            <div class="c-actual__bannertext">
                <p class="c-actual__bannertitle">会社案内</p>
                <p class="c-actual__bannercontent">これまでの防災技術と新分野のICTなどを拡充し、<br>
                地元地域に密着した総合建設コンサルタントを目指します。</p>
                <span class="c-actual__bannericon">></span>
            </div>
        </div>
        <div class="c-actual__banneritem">
            <img src="./assets/img/actual-banner-2.jpg" alt="">
            <div class="c-actual__bannertext c-actual__bannertext2">
              <p class="c-actual__bannertitle">採用情報</p>
              <p class="c-actual__bannercontent2">私たちと共に専門知識や技術を高めながら<br>
                地域の未来を守る人材を募集しています。 
               </p>
              <span class="c-actual__bannericon"> ></span>
          </div>
        </div>
    </div>
  </div>
</section>
