<section class="c-business">
  <div class="c-container">
    <div class="c-logo">
      <img src="./assets/img/section-logo.png" alt="事業紹介">
    </div>
    <h2 class="c-business__heading">事業紹介</h2>
    <p class="c-business__subheading">
      アイエステーは、たゆまない技術向上により、地域防災事業に携わるとともに
      地域の安全・安心を確保できるインフラ整備に貢献します。
    </p>

    <div class="c-business__survey">
        <div class="c-business__items">
            <% if (typeof survey != 'undefined') { %>
                <% survey.items && survey.items.forEach(item => { %>
                    <div class="c-business__item">
                        <div class="c-business__itembg">
                            <img src="<%= item.src %>" alt="<%= item.title %>">
                        </div>
                        <div <% if (item.class ) { %>class="<%= item.class %> c-business__description"<% } %>>
                            <div class="">
                                <img src="<%= item.icon %>" alt="<%= item.title %>">
                            </div>
                            <p  <% if (item.class ) { %>class="<%= item.desClass %>"<% } %>><%= item.title %></p>
                        </div>
                    </div>
                <% }) %>
              <% } %>
        </div>
        <div class="c-business__background">
            <div class="c-business__matricepro">
              <img src="./assets/img/matricepro.png" alt="">
            </div> 
            <div class="c-business__text">
              <p class="c-business__title">レーザースキャナ搭載のドローン*<span class="c-business__titlenote">で安全かつ効率的に測量が可能。</span></p>
              <p class="c-business__content">アイエステーでは、ドローン搭載型の測量用レーザースキャナ搭載のドローンを導入しました。これにより、
                従来の写真測量で必須だった対空標識を置くことなく、安全かつ効率的に測量することが可能となりました。またレーザーは植生下にも届くため、
                写真測量では不可能だった植生下のグランドデータを取得できます。災害時の地形測量や施工管理における活躍が期待できます。
              </p>
              <p class="c-business__note">＊アミューズワンセルフ社製：ドローン搭載用レーザースキャナシステム「TDOT（ティードット）」</p>
            </div>
        </div>
        <div class="c-business__detail">
          <p>詳細情報 ></p>
        </div>
    </div>
  </div>
</section>
