<header class="c-header">
  <div class="c-header__wrapper">
     <div class="c-header__logo"><a href="<%= BASE_URL %>index.html"><img src="/assets/img/logo.png" alt="Logo"></a></div>
      <nav class="c-gnav">
        <ul class="c-header__navitems">
          <% if (typeof linklists != 'undefined') { %>
            <% linklists.main && linklists.main.forEach(link => { %>
              <li class="c-header__navitem">
                <a <% if (link.class ) { %>class="<%= link.class %>"<% } %> href="<%= link.url %>"><%= link.title %></a>
                <% if (link.links) { %>
                  <div class="c-header__subnav is-hover <%=link.sub%>">
                    <% link.links.forEach(child_link => { %>
                      <div class="c-header__subnavitem">
                          <a <% if (child_link.current) { %>class="is-active"<% } %> href="<%= child_link.url %>"><%= child_link.title %></a>
                      </div>
                    <% }) %>
                    </div>
                <% } %>
              </li>
            <% }) %>
          <% } %>
        </ul>
      
    </nav>
  </div>
 
</header>
